* {
  border: none;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url(https://s3.us-east-2.amazonaws.com/fec-hrr37-brian/moviebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 12vh 9.5vh 84vh 23vh 34vh;
  height: 163vh;
}

#app-nav {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#movie-info {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#video {
  position: absolute;
  top: 180px;
  left: 525px;
  margin-top: 2vh;
  margin-left: 45px;
  width: 1000px;
  /* 60vw */
  grid-column: 2 / 3;
  grid-row: 3 / 4;

}
@media screen and (max-width: 1500px) {
  #video {
    /* display: none; */
  }
}

#synopsis {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#app {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}